<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>BaseEx Demo Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link href="https://umamiappearance.github.io/MSG/MSG.css" rel="stylesheet">

        <script type="module">
            import {BaseEx} from "./src/BaseEx.js"
            import Vue from "https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.esm.browser.js"
            //import Vue from "https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.esm.browser.min.js"

            const baseEx = new BaseEx();

            const byteConverter = {
                bytes: input => new TextEncoder().encode(input).join(" "),
                str: input => new TextDecoder().decode(new Uint8Array(input.split(" "))),
                toUint: input => new Uint8Array(input.split(" ")),
            }

            const Data = {
                input: "Hello World!",
                output: null,
                mode: "encode",
                curTypes: { 
                    encode: "str",
                    decode: "base64",
                },
                dataTypes: {
                    encode: ["str", "bytes"],
                    decode: Object.keys(baseEx),
                },
            };
            Data.output = baseEx[Data.curTypes.decode][Data.mode](Data.input, Data.curTypes.encode);
            
            const control = new Vue({ 
                el: "#control",
                data: Data,
                methods: {
                    switchInOut: function() {
                        [this.input, this.output] = [this.output, this.input];
                    },
                },
            });

            Vue.component('in-out-form', {
                data() {
                    return Data;
                },
                computed: {
                    _method: function() {
                        if (this._type === "input") {
                            return this.mode;
                        } else {
                            return (this.mode === "encode") ? "decode" : "encode";
                        }
                    },
                    encDecType: {
                        get: function() {
                            return this.curTypes[this._method];
                        },
                        set: function(val) {
                            if (this.dataTypes.encode.includes(val)) {
                                this.curTypes.encode = val;
                                this[this._type] = byteConverter[val](this[this._type]);   // convert this.input or this.output to bytes/str
                            } else {
                                this.curTypes.decode = val;
                                this.message = this.output;
                            }
                        },
                    },
                    message: {
                        get: function() {
                            console.log("get");
                            return this[this._type];        //this.input or this.output
                        },
                        set: function(val) {
                            let input;
                            if (this._type === "input") {
                                input = val;
                                if (this.curTypes.encode === "bytes") {
                                    input = byteConverter.toUint(val);
                                }
                                this.input = val;
                            } else {
                                input = (this.curTypes.encode === "bytes") ? byteConverter.toUint(this.input): this.input;
                            }
                            this.output = baseEx[this.curTypes.decode][this.mode](input, this.curTypes.encode, this.curTypes.encode);
                        },
                    },
                },
                props: {
                    _type: {
                        type: String,
                        required: true,
                    },
                },
                template: document.querySelector("#in-out-form").innerHTML
            })

            const input = new Vue({ 
                el: "#input",
            });
            const output = new Vue({ 
                el: "#output",
            });
            console.log(input);
        </script>
    </head>
    <body>
        <main>
            <template id="in-out-form">
                <form>
                    <select v-model="encDecType">
                        <option v-for="option in dataTypes[_method]">{{ option }}</option>
                    </select>
                    <textarea v-model="message" placeholder="add multiple lines"></textarea>
                </form>
            </template>

            <section>

                <article>
                    <h1>BaseEx Demo Page</h1>
                    <p>To demonstrate the capabilities of BaseEx it is used on this demopage to implement an online base converter.</p>
                </article>

                <article id="input">
                    <h3>input</h3>output
                    <in-out-form
                        _type="input"
                    ></in-out-form>
                </article>
                
                <article id="control">
                    <form v-on:change="switchInOut">
                        <input type="radio" id="encode" value="encode" v-model="mode">
                        <label for="encode">Encode</label>
                        <br>
                        <input type="radio" id="decode" value="decode" v-model="mode">
                        <label for="decode">Decode</label>
                        <p>{{ mode}} </p>
                    </form>
                </article>
                
                <article id="output">
                    <h3>output</h3>
                    <in-out-form
                        _type="output"
                    ></in-out-form>
                </article>
            </section>
        </main>  
    </body>
</html>
