<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>BaseEx Demo Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="#">
        
        <link href="https://umamiappearance.github.io/MSG/MSG.css" rel="stylesheet">

        <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

        <script type="module">
            import {BaseEx} from "./dist/BaseEx.min.mjs"
            import Vue from "https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.esm.browser.min.js"
            //import Vue from "https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.esm.browser.js"

            // Initialize main BaseEx class
            const baseEx = new BaseEx();

            // Provide some functions to convert bytes
            const byteConverter = {
                bytes: input => new TextEncoder().encode(input).join(" "),
                str: input => new TextDecoder().decode(new Uint8Array(input.split(" "))),
                toStrBytes: input => input.join(" "),
                toUint: input => new Uint8Array(input.split(" ")),
            }

            // Data object (source of truth) for Vue
            const Data = {
                input: "Hello World!",
                output: null,
                mode: "encode",
                curTypes: { 
                    encode: "str",
                    decode: "base64",
                },
                dataTypes: {
                    encode: ["str", "bytes"],
                    decode: Object.keys(baseEx),
                },
            };
            // Set the initial output
            Data.output = baseEx[Data.curTypes.decode][Data.mode](Data.input, Data.curTypes.encode);
            
            // Object to switch the modes from encode 
            // to decode and vice versa
            new Vue({ 
                el: "#control",
                data: Data,
                methods: {
                    switchInOut: function() {
                        [this.input, this.output] = [this.output, this.input];
                    },
                },
            });

            // Vue component for the in an output field;
            Vue.component('in-out-form', {

                data() {
                    return Data;
                },

                computed: {

                    _method: function() {
                        // Returns the method encode or decode,
                        // but according to input or output
                        // e.g. for mode: encode ->
                        // In method: encode, Out method: decode
                        // 
                        if (this._type === "input") {
                            return this.mode;
                        } else {
                            return (this.mode === "encode") ? "decode" : "encode";
                        }
                    },

                    encDecType: {
                        // Refers to select field on in-/outpzt

                        get: function() {
                            // Returns the current encoding type
                            // to select from the options, according
                            // to the specific _method.

                            return this.curTypes[this._method];
                        },

                        set: function(val) {
                            // If the user changes the selection, the
                            // first decision is wether it is a base
                            // change or str/bytes switches. The latter
                            // is the first route below.

                            if (this.dataTypes.encode.includes(val)) {
                                // Change the current value (str/bytes)
                                // on the Data object 
                                this.curTypes.encode = val;

                                // Convert this.input or this.output to bytes/str
                                // according to the select field from in- or output
                                this[this._type] = byteConverter[val](this[this._type]);

                            } else {
                                // Change the currend base type on the 
                                // Data object
                                this.curTypes.decode = val;

                                if (this._type === "output") {
                                    // If the base was changed on the output
                                    // simply refresh it.
                                    this.message = this.output;

                                } else {
                                    // If the base change appeares on input
                                    // the current mode is "decode". In this
                                    // case the input field needs to change its 
                                    // base. To achieve this, the output value
                                    // gets encoded back and refreshes on input. 

                                    const input = (this.curTypes.encode === "bytes") ? byteConverter.toUint(this.output) : this.output;
                                    this.input = baseEx[val].encode(input, this.curTypes.encode);
                                }
                            }
                        },
                    },

                    message: {
                        // message provides the actual value
                        // for the textarea.

                        get: function() {
                            // Returns this.input or this.output
                            // according to the _type 
                            return this[this._type];
                        },

                        set: function(val) {
                            // Gets called if the user changes the input
                            // (also after a select field changes)

                            // The actual input, that feeds the BaseEx
                            // class can vary. Therefore a local var "input"
                            // gets initialized.
                            let input;

                            // If the output type is set to bytes it gets
                            // converted to a string where each byte value
                            // is seperated by a space. To activate this case
                            // "toStrBytes" needs to be set to true.
                            let toStrBytes = false;

                            // First determine if the textarea was changed
                            // on in- or output. (As output is set to 
                            // readonly it can not get changed directly,
                            // but it can switch by changing the base or
                            // str/bytes)

                            if (this._type === "input") {
                                // Store the current value of the textarea
                                // on the Data object.
                                this.input = val;

                                // Also set "input" to this value for starters
                                input = val;

                                if (this.curTypes.encode === "bytes") {
                                    // If there are bytes involved either ...
                                    if (this.mode === "encode") {
                                        // ... convert the bytestring to actual 
                                        // bytes (typed uInt8array) ...

                                        input = byteConverter.toUint(val);
                                    } else {
                                        
                                        // ... or convert the output to a
                                        // bytestring as a last step 
                                        // (depends on mode [en-/decode]).
                                        toStrBytes = true;
                                    }
                                }
                            } else {
                                // If the type of the textarea is output
                                // use "this.input" directly or convert
                                // to bytes if necessary.

                                input = (this.curTypes.encode === "bytes") ? byteConverter.toUint(this.input) : this.input;
                            }
                            
                            // Generate output by runnig the
                            // specified conversion.
                            const output = baseEx[this.curTypes.decode][this.mode](input, this.curTypes.encode);

                            // As explained above.
                            this.output = (toStrBytes) ? byteConverter.toStrBytes(output) : output;
                        },
                    },
                },

                props: {
                    _type: {
                        // input and output
                        type: String,
                        required: true,
                    },

                    placeholder: {
                        type: String,
                        required: true,
                    },

                    readonly: {
                        // true for input, false for output
                        type: Boolean,
                        required: true,
                    },
                },

                template: document.querySelector("#in-out-form").innerHTML,
            
            })

            new Vue({ el: "#input" });
            new Vue({ el: "#output" });

            new Vue({ 
                el: "#codeblock",
                data: Data,
                computed: {
                    code: function() {
                        const isBytes = this.curTypes.encode === "bytes";
                        
                        // generate a bytestring, that is seperated by kommas
                        const preIn = (isBytes) ? this.input.split(" ").join(", ") : this.input;

                        // escape double quotes and escape char 
                        let max56Inpt = preIn.replace(/[\"\\]/g, '\\$&');
                        let copyPasteInfo = "You can copy this code as it is to your environment";
                        
                        // trim output after 56 characters
                        if (max56Inpt.length > 56) {
                            max56Inpt = max56Inpt.replace(/(.{56})..+/, "$1…");
                            copyPasteInfo = "Your input was shortened for this demonstration purpose.\n// You can either use shorter input if you want to copy and\n// test it or you need to adjust it in your environment.";
                        }
                        
                        // generate code for bytes (needs some work) or string (as is)
                        const input = (this.mode === "encode" && isBytes) ? `new Uint8Array([${max56Inpt}])` : `"${max56Inpt}"`;
                        
                        const subFNName = baseEx[this.curTypes.decode].constructor.name;
                        
                        const version = (Object.keys(baseEx[this.curTypes.decode].charsets).length > 1) ? `"${baseEx[this.curTypes.decode].version}"` : ""; 
                        const fixedType = (isBytes) ? `, "${this.curTypes.encode}", "${this.curTypes.encode}"` : "";
                        const use = (isBytes) ? "setting as default:" : "making use of default";        
// codeblock output >>>
                        const codeContent = `
 
const input = ${input};

// Main class BaseEx
const baseExA = new BaseEx();
const outputA = baseExA.${this.curTypes.decode}.${this.mode}(input, "${this.curTypes.encode}");

// Main class BaseEx, ${use} ${this.curTypes.encode}-type
const baseExB = new BaseEx(${fixedType.substr(2)});
const outputB = baseExB.${this.curTypes.decode}.${this.mode}(input);

// Direct use of the required base converter
const ${this.curTypes.decode}a = new ${subFNName}(${version});
const outputC = ${this.curTypes.decode}a.${this.mode}(input, "${this.curTypes.encode}");

// Direct use of the base converter, ${use} ${this.curTypes.encode}-type
const ${this.curTypes.decode}b = new ${subFNName}("${baseEx[this.curTypes.decode].version}"${fixedType});
const outputD = ${this.curTypes.decode}b.${this.mode}(input);

// ${copyPasteInfo}
                        `.trim();
// <<< codeblock end
                        return PR.prettyPrintOne(codeContent, "js");
                    },
                },
            });
        </script>

<!-- CSS -->

        <style>
            main {
                min-height: calc(100vh - 40px);
            }
            form, code {
                background-color: aliceblue;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
            }
            section {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            @media screen and (min-width: 1100px) {
                section {
                    flex-direction: row;
                    align-items: flex-start;
                }
            }
            h3, pre {
                margin: 0.1rem 0;
            }
            select, textarea {
                resize: none;
                font-size: 1rem;
                border: 0 none;
                box-shadow: 0px 0px 2px 0 #333;
                padding: 10px;
                background-color: #fff;
            }
            textarea {
                margin-bottom: 8px;
            }
            select:focus, textarea:focus {
                outline: 2px solid #000;
            }
            select {
                cursor: pointer;
            }
            #control form > div {
                display: flex;
                width: max-content;
                margin: 10px;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-evenly;
                box-shadow: 0px 0px 2px 0 #333;
                background-color: #fff;
            }
            input[type=radio] {
                display: none;
            }
            input[type=radio] + label {
                cursor: pointer;
                background-color:rgba(230, 230, 255, 0.1);
                box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
                padding: 10px;
                font-weight: 500;
            }
            input[type=radio]:hover + label {
                background-color:rgba(200, 200, 255, 0.1);
                box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
            }
            input[type=radio]:checked + label {
                background-color: cadetblue;
                box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
                color: #fff;
            }
            footer {
                text-align: right;
                margin-right: 6px;
                height: 40px;
            }
        </style>


    </head>


<!-- HTML-body -->

    <body>

        
        <main>

            
<!-- Template for in- and output -->

            <template id="in-out-form">
                <form>
                    <select v-model="encDecType">
                        <option v-for="option in dataTypes[_method]">{{ option }}</option>
                    </select>
                    <textarea v-model="message" :readonly="readonly" :placeholder="placeholder" cols="32" rows="8" spellcheck="false"></textarea>
                </form>
            </template>

<!-- Actual Page -->
            
            <section>

    <!-- Head of body -->

                <article>
                    <h1>BaseEx Demo Page (Online Base Converter)</h1>
                    <p>
                        To demonstrate the capabilities of <b>BaseEx</b> it is used on this demopage to implement an online base converter.<br>
                        <a href="#codeblock">At the end</a> of the page you can find a codeblock with possible implementations to generate the provided output.
                    </p>
                </article>

            </section>

            <hr>

    <!-- Input/Output section -->

            <section>
                <article id="input">
                    <h3>input</h3>
                    <in-out-form
                        _type="input"
                        placeholder="Input text/bytes goes here..."
                        v-bind:readonly="false"
                    ></in-out-form>
                </article>
                
                <article id="control">
                    <h3>mode</h3>
                    <form v-on:change="switchInOut">
                        <div class="radio-wrapper">
                            <input type="radio" id="encode" value="encode" v-model="mode">
                            <label for="encode">encode</label>
                            <br>
                            <input type="radio" id="decode" value="decode" v-model="mode">
                            <label for="decode">decode</label>
                        </div>
                    </form>
                </article>
                
                <article id="output">
                    <h3>output</h3>
                    <in-out-form
                        _type="output"
                        placeholder="...output will show up automatically."
                        v-bind:readonly="true"
                    ></in-out-form>
                </article>
            </section>

            <hr>

    <!-- Codeblock -->

            <section style="margin-bottom: 24px;">
                <article id="codeblock">
                    <h3>possible implementations</h3>
                    <pre><code v-html="code"></code></pre>
                </article>
            </section>
       
        </main>

        <footer>
            <a href="https://github.com/UmamiAppearance/BaseExJS" style="text-decoration: none;" title="to repository">
                <span style="text-decoration: underline;">github.com/UmamiAppearance/BaseExJS</span>
                <svg height="22" width="22" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="vertical-align: bottom;"><title>GitHub</title><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg>
            </a>
        </footer>
    
    </body>

</html>

