<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>BaseEx Demo Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link href="https://umamiappearance.github.io/MSG/MSG.css" rel="stylesheet">

        <script type="module">
            import {BaseEx} from "./src/BaseEx.js"
            import Vue from "https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.esm.browser.js"
            //import Vue from "https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.esm.browser.min.js"

            const baseEx = new BaseEx();
            const data = new Object();

            data.input = "Hello World!";
            data.fromType = "str";
            data.base = "base64";
            data.mode = "encode"
            data.output = baseEx[data.base][data.mode](data.input);
            
            const byteConverter = {
                toBytes: input => new TextEncoder().encode(input).join(" "),
                toString: input => new TextDecoder().decode(new Uint8Array(input.split(" "))), 
            }
            
            const control = new Vue({ 
                el: "#control",
                data: {
                    mode: "encode",
                },
                methods: {
                    runConverter: function() {
                        data.mode = (data.mode === "encode") ? "decode": "encode";
                        [data.input, data.output] = [data.output, data.input];
                        convert();
                    },
                },
            });

            Vue.component('in-out-form', {
                data() {
                    return {
                        types: {
                            encode: ["str", "bytes"],
                            decode: Object.keys(baseEx),
                        },
                    }
                },
                computed: {
                    message: {
                        get: function() {
                            return data[this._type]
                        },
                        set: function(input) {
                            if (this._type === "input") {
                                data.input = input;
                                convert();
                            }
                        },
                    },
                    fromTypeToBase: {
                        set: function(val) {
                            if (this._type === "input" && data.mode === "encode") {
                                if (data.fromType !== val) {
                                    data.fromType = val;
                                    data.input = (val === "str") ? byteConverter.toString(data.input) : byteConverter.toBytes(data.input);
                                }
                                this.$el.querySelector("textarea").value = data.input;
                                
                            } else {
                                data.base = val;
                                convert();
                            }
                        },
                        get: function() {
                            if (this._method === "encode") {
                                return data.fromType;
                            } else {
                                return data.base;
                            }
                        },
                    },
                    _method: function() {
                        if (this._type === "input") {
                            return control.mode;
                        } else {
                            return (control.mode === "encode") ? "decode" : "encode";
                        }
                    }
                },
                props: {
                    _type: {
                        type: String,
                        required: true,
                    },
                },
                methods: {
                    runConverter: function() {
                        if (this._type === input) {
                            //data.fromType = 
                            console.log("in");
                        }
                    },
                },
                template: document.querySelector("#in-out-form").innerHTML
            })

            const input = new Vue({ 
                el: "#input",
            });
            const output = new Vue({ 
                el: "#output",
            });

            function convert() {
                let dataInput = data.input
                if (data.mode === "encode" && data.fromType === "bytes") {
                    dataInput = new Uint8Array(data.input.split(" "));
                } 
                data.output = baseEx[data.base][data.mode](dataInput, data.fromType);
                output.$el.querySelector("textarea").value = data.output;
            }

            console.log(output);
            console.log(data.base);
        </script>
    </head>
    <body>
        <main>
            <template id="in-out-form">
                <form>
                    <select v-model="fromTypeToBase">
                        <option v-for="option in types[_method]">{{ option }}</option>
                    </select>
                    <textarea v-model="message" placeholder="add multiple lines"></textarea>
                </form>
            </template>

            <section>

                <article>
                    <h1>BaseEx Demo Page</h1>
                    <p>To demonstrate the capabilities of BaseEx it is used on this demopage to implement an online base converter.</p>
                </article>

                <article id="input">
                    <h3>input</h3>output
                    <in-out-form
                        _type="input"
                    ></in-out-form>
                </article>
                
                <article id="control">
                    <form v-on:change="runConverter">
                        <input type="radio" id="encode" value="encode" v-model="mode">
                        <label for="encode">Encode</label>
                        <br>
                        <input type="radio" id="decode" value="decode" v-model="mode">
                        <label for="decode">Decode</label>
                        <p>{{ mode}} </p>
                    </form>
                </article>
                
                <article id="output">
                    <h3>output</h3>
                    <in-out-form
                        _type="output"
                    ></in-out-form>
                </article>
            </section>
        </main>  
    </body>
</html>
